<div class="panel panel-primary" #newFieldBlock>
    <div class="panel-heading">Adding new field to the form</div>
    <div class="panel-body">
        <form (ngSubmit)="onAddField()" #f="ngForm">
            <div class="form-group">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Field name"
                        ngModel>
                </div>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="label"
                    name="label"
                    placeholder="Field Label"
                    ngModel>
            </div>
            <div class="form-group">
                <select id="type" class="form-control" name="type" ngModel>
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="date">Date</option>
                    <option value="email">Email</option>
                    <option value="url">URL</option>
                </select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="required" ngModel> Field required
                </label>
            </div>
            <div class="clearfix">
                <div class="pull-right">
                    <button type="submit" class="btn btn-success">Add Field</button>
                    <button type="reset" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

