<div class="panel panel-primary" #newFieldBlock>
    <div class="panel-heading"><ng-content></ng-content></div>
    <div class="panel-body">
        <form (ngSubmit)="onAddField(false)" #f="ngForm">
            <div class="form-group">
                <div class="form-group">
                    <input
                        type="text"
                        class="form-control"
                        id="name"
                        name="name"
                        placeholder="Field name"
                        [(ngModel)]="fieldToBeEdited.name">
                </div>
            </div>
            <div class="form-group">
                <input
                    type="text"
                    class="form-control"
                    id="label"
                    name="label"
                    placeholder="Field Label"
                    [(ngModel)]="fieldToBeEdited.label">
            </div>
            <div class="form-group">
                <select id="type" class="form-control" name="type"
                    [(ngModel)]="fieldToBeEdited.type"
                    (change)="onFiledTypeChange($event)">
                        <option value="text">Text</option>
                        <option value="number">Number</option>
                        <option value="date">Date</option>
                        <option value="email">Email</option>
                        <option value="url">URL</option>
                        <option value="file">Image</option>
                        <option value="select">Dropdown</option>
                </select>
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" name="required" [(ngModel)]="fieldToBeEdited.required"> Field required
                </label>
            </div>
            <div class="clearfix">
                <div class="pull-right" *ngIf="fieldToBeEdited.id === -1">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-success" (click)="onAddField(true)">Save and add another</button>
                    <button type="reset" class="btn btn-danger" (click)="resetAddForm()">Cancel</button>
                </div>
                <div class="pull-right" *ngIf="fieldToBeEdited.id !== -1 ">
                    <button type="button" (click)="onUpdateField()" class="btn btn-success">Update</button>
                </div>
            </div>
        </form>
    </div>
</div>

