<form (ngSubmit)="onSubmitForm()" #f="ngForm" class="clearfix">
    <div class="form-group pull-right">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save form</button>
        <button type="reset" class="btn btn-danger" [disabled]="!f.dirty" (click)="onResetForm()">Clear form</button>
        <button type="button" class="btn btn-primary" [disabled]="!formId" (click)="toggleAddForm()">Add Field</button>
    </div>

    <div class="form-group">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                id="name"
                name ="name"
                [(ngModel)]="formdata.name"
                placeholder="Enter the name of the form"
                required>
        </div>

        <div class="form-group">
            <textarea
                class="form-control"
                id="description"
                name="description"
                [(ngModel)]="formdata.description"
                placeholder="Enter a brief description of the form."
                rows="5">
            </textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="isPublic" [(ngModel)]="formdata.isPublic"> Make it public
            </label>
        </div>

    </div>
</form>

<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Fields</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group" dnd-sortable-container [sortableData]="formdata.fields">
            <li *ngFor="let field of formdata.fields; let i = index" class="list-group-item" dnd-sortable [sortableIndex]="i" [dragData]="i" (onDropSuccess)="onDragAndDropFields($event)">
                <div class="row">
                    <label for={{field.name}} class="col-sm-2 control-label">{{field.label}}</label>
                    <div class="col-sm-9">
                        <input
                            class="form-control"
                            id="{{field.name}}"
                            name="{{field.name}}"
                            type="{{field.type}}"
                            placeholder="{{field.label}}">
                    </div>
                    <div class="col-sm-1 pull-right">
                        <div class="row">
                            <span class="glyphicon glyphicon-edit" alt="Edit" aria-hidden="true"></span>
                        </div>
                        <div class="row">
                            <span class="glyphicon glyphicon-trash" alt="Delete" aria-hidden="true" style="color: red;"></span>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<hr >

<app-field-definition (displayAddForm)="toggleAddForm($event)" *ngIf="displayAddFieldForm"></app-field-definition>