<form (ngSubmit)="onSubmitForm()" #f="ngForm" class="clearfix">
    <div class="form-group pull-right">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save form</button>
        <button type="button" (click)="saveFormRemotely(formId)" class="btn btn-default">Save Remotely </button>
        <button type="reset" class="btn btn-danger" [disabled]="!f.dirty" (click)="this.formElement.form.reset();">Clear form</button>
        <button type="button" class="btn btn-primary" (click)="toggleAddForm()">Add Field</button>
    </div>

    <div class="form-group">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                id="name"
                name ="name"
                [(ngModel)]="formsService.getForm(formId).name"
                placeholder="Enter the name of the form"
                required>
        </div>

        <div class="form-group">
            <textarea
                class="form-control"
                id="description"
                name="description"
                [(ngModel)]="formsService.getForm(formId).description"
                placeholder="Enter a brief description of the form."
                rows="5">
            </textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="isPublic" [(ngModel)]="formsService.getForm(formId).isPublic"> Make it public
            </label>
        </div>

    </div>
</form>

<app-field-list
    (fieldlist)="updateFieldList($event)"
    [formId]="formId"
    [edit_mode]="true"
    *ngIf="formsService.getForm(formId).fields?.length>0">
    <p class="hrtext"><span>List of Fields</span></p>
</app-field-list>
<hr >
<app-field-definition
    (displayAddForm)="toggleAddForm()"
    *ngIf="displayAddFieldForm">
    <span>Adding new field</span>
</app-field-definition>