<form (ngSubmit)="onSubmitForm()" #f="ngForm" class="clearfix">
    <div class="form-group pull-right">
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Save form</button>
        <button type="reset" class="btn btn-danger" [disabled]="!f.dirty" (click)="onResetForm()">Clear form</button>
        <button type="button" class="btn btn-primary" [disabled]="!formId" (click)="toggleAddForm()">Add Field</button>
    </div>

    <div class="form-group">
        <div class="form-group">
            <input
                type="text"
                class="form-control"
                id="name"
                name ="name"
                [(ngModel)]="formdata.name"
                placeholder="Enter the name of the form"
                required>
        </div>

        <div class="form-group">
            <textarea
                class="form-control"
                id="description"
                name="description"
                [(ngModel)]="formdata.description"
                placeholder="Enter a brief description of the form."
                rows="5">
            </textarea>
        </div>

        <div class="checkbox">
            <label>
                <input type="checkbox" name="isPublic" [(ngModel)]="formdata.isPublic"> Make it public
            </label>
        </div>

    </div>
</form>

<app-field-list
    (fieldlist)="updateFieldList($event)"
    [fields]="formdata.fields"
    [edit_mode]="true"
    *ngIf="formdata.fields.length>0">
    <p class="hrtext"><span>List of Fields</span></p>
</app-field-list>
<hr >
<app-field-definition
    (displayAddForm)="toggleAddForm($event)"
    *ngIf="displayAddFieldForm">
    <span>Adding new field</span>
</app-field-definition>