<form>
    <div class="form-group">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name">
            <p class="help-block">The name of the form</p>
        </div>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" rows="5"></textarea>
        <p class="help-text">Describe the purpose of this form</p>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox"> Make it public
        </label>
    </div>
    <button type="submit" class="btn btn-success">Save form</button>
    <button type="reset" class="btn btn-danger">Clear form</button>
</form>