.hide_element {
    display: none;
}

.show_element {
    display: block;
}

.hrtext {
    width:100%;
    text-align:center;
    border-bottom: 1px solid #ddd;
    line-height:0.1em;
    margin:10px 0 20px;
}

.hrtext span { background:#fff; color: #bbb; padding:0 10px; }