<div class="panel panel-default" *ngFor="let form of formsService.forms">
    <div class="panel-heading clearfix">
        <a [routerLink]="['/forms', form.id ]">{{ form.name }}</a>
        <button
            class="btn btn-default pull-right"
            (click)="form.displayFields = !form.displayFields">Preview</button>
    </div>
    <div class="panel-body">
        <p>{{ form.description }}</p>
        <app-field-list
            [formId]="form.id"
            [ngClass]="{hide_element: !form.displayFields}"
            *ngIf="(form.fields != null && form.fields.length>0)">
            <p class="hrtext"><span>List of Fields</span></p>
        </app-field-list>
    </div>
</div>